@{
    ViewData["Title"] = "About Us";
}
<p></p>
<h1>@ViewData["Title"]</h1>


<p><b>Yarns & Mobile</b> is a small book retailer trying to fill the gap left by a large book store chain that has been closing many locations, including the one in Coral Springs, Florida. Originally specializing in short, exciting, but difficult to believe tales tailored to presentation on the iPhony 3.5 (2008 version), their CEO, Jester Bozo, has decided to expand into the <q> exploding brick-and-mortar mass book store market</q>. (While his business acumen is certainly questionable, he's paying cash, so who cares?) Yarns & Mobile has contracted you to develop a website to track the books that have been purchased and/or reviewed by their members.</p>

<p>
    <ul>
        <li>
            They need the website to record the following information in a database of your choice:
            <h5>Members Information:</h5>
            <ol>
                <li>Member name</li>
                <li>Account number (a 12 character string starting with a four character alphanumeric store id followed by an eight digit unique number)</li>
                <li>Member address</li>
                <li>Phone number(s)</li>
            </ol>
        </li>
        <li>
            <h5>Book Information</h5>
            <ol>
                <li>Title</li>
                <li>Author</li>
                <li>Copyright Year</li>
                <li>ISBN</li>
                <li>an optional cover image</li>
                <li>sale price</li>
                <li>date of sale</li>
            </ol>
        </li>
        <li>
            <h5>Review information for the book</h5>
            <ol>
                <li>Review title</li>
                <li>Review body text</li>
                <li>Review date</li>
                <li>Rating of 0 to 5 stars</li>
            </ol>
        </li>
    </ul>
    <h4>Important Notes</h4>
    <ul>
        <li>A book does not need to have been purchased to be reviewed, and a purchased book need not be reviewed.</li>
        <li>JB* does not see any value in tracking or identifying phone numbers which are shared by members, even if they live in the same household, work at the same job, or attend the same school.</li>
        <li>All addresses are of equal importance to JB; he just wants the information for marketing purposes. He does want to avoid sending duplicate flyers or coupons to an address.</li>
        <li>Anyone should be able to see a list of books in the system along with the title of the review(s)</li>
        <li>Members of the Yarns & Mobile club should be able to see all of the review details for each book along with the first name of the reviewer.</li>
        <li>Only the member who purchased a book and/or wrote the book review should be allowed to see the purchase price and/or edit the book review.</li>
        <li>Note that membership is available for free to anyone with a valid email address.</li>
        <li>The store will provide PC-based kiosks for use by members in-store, </li>
        <li>members are always welcome to use their phones or tablets (including Mr. Bozo's own, proprietary e-book reader called the "Dwindle", which, after being introduced five years ago, has experienced unexplained declining sales) from in-store or anywhere</li>
    </ul>
</p>

<p>
    <h4>Additional Notes</h4>
    <ul>
        <li>Mr. Bozo expects to review your progress personally on November 5, 2020. If, for some reason, he cannot do so, he has appointed his project manager to do so in his place.</li>
        <li>Note that the only programming language Mr. Bozo knows is COBOL, so you should hope he shows up, his code review will be far easier than what the project manager is likely to subject you to.)</li>
        <li>JB understands the website may not be 100% complete by then, but he expects to see at least some functionality working by that date.</li>
        <li>He requests that you develop a website with the following URL: YarnsAndMobileXX.azurewebsites.net, where XX are the initials of the developer responsible (your initials) for the website. </li>
        <li>The code needs to be made available on github at an address that shall be published on a "Stable Genius" (Bozo's term for programmers) page of the website. </li>
        <li>The Stable Genius page should also include contact information for the developer (name, optional email address, etc) and may optionally include notes or any other information that the developer wishes to share, including but not limited to design notes, sample logo artwork, psuedocode, storyboards, philosophies of life, etc. </li>
        <li>It is understood that every developer will be able to see (and review) every other developer's work; however, plagiarism will NOT BE TOLERATED. </li>
        <li>If any developer feels that another developer has done so, s/he is encouraged to report it to the project manager. That said, learning from each other is always encouraged.</li>
    </ul>
</p>
<p>
    Note: JB are Jester Bozo's initials, but the employees think it really stands for "Jerky Boss"
    Yarns & Mobile has authorized their project manager, Mr. Zwickel, to answer any questions you might have and to review the code that you provide.
</p>
