@model IEnumerable<YarnsAndMobileRCOnlineBookStore.Controllers.ContactController>
    @{
        ViewData["Title"] = "Contact";
    }

    <h1>Stable Genius</h1>

<h2>Project Documentation</h2>

<h4>Source Code</h4>
<a href="https://github.com/roeldcrodua?tab=repositories">GitHub Repository</a>


<h2>Contact Information</h2>
<h3>Name: Roel Crodua</h3>
<h4>Email: roelcrodua@yahoo.com</h4>
<h4>Phone: 561-213-3030</h4>
<h4>Address: 444 Los Altos Rd, Palm Springs FL 33461</h4>