@model IEnumerable<YarnsAndMobileRCOnlineBookStore.Controllers.ContactController>
@{
    ViewData["Title"] = "Contact";
}
<p></p>
<h1>Project Documentation</h1>
<p></p>
<dl class="row">
    <dt class="col-sm-2">
        Source Code
    </dt>
    <dd class="col-sm-10">
        <a href="https://github.com/roeldcrodua?tab=repositories">GitHub Repository</a>
    </dd>
    </dl>
<p></p>
<h1>Contact Information</h1>
<dl>
    <dt class="col-sm-2">
        Developer Name:
    </dt>
    <dd class="col-sm-10">
        Roel Crodua
    </dd>
    <dt class="col-sm-2">
        Email:
    </dt>
    <dd class="col-sm-10">
        roelcrodua@yahoo.com
    </dd>
    <dt class="col-sm-2">
        Phone:
    </dt>
    <dd class="col-sm-10">
        561-213-3030
    </dd>
    <dt class="col-sm-2">
        Address:
    </dt>
    <dd class="col-sm-10">
        444 Los Altos Rd
        Palm Springs FL 33461
    </dd>
</dl>

    <h1>Meet Roel</h1>
    <p class="justify-content-md-center">

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dignissim scelerisque risus non tempus. Aenean libero turpis, blandit quis luctus efficitur, iaculis nec velit. Suspendisse consectetur congue quam vel tempus. Proin sit amet nulla fringilla, porttitor nisl at, ultrices tortor. Duis ipsum velit, dignissim eu accumsan egestas, auctor ut nisi. Aenean sagittis, enim at efficitur congue, urna sem auctor dolor, et commodo ante tellus a ex. Integer turpis ante, facilisis sed sem in, suscipit viverra mauris. Quisque scelerisque nunc nec varius hendrerit. Morbi eget pharetra quam. Donec ac diam in diam maximus pulvinar nec quis lectus. Praesent imperdiet sodales dui aliquet porttitor. Aenean et placerat lorem, et commodo est. Vivamus nulla magna, convallis a lorem vel, pellentesque mattis nunc.

        Nullam id justo ligula. In convallis lacus magna, vitae scelerisque nisi suscipit id. In pellentesque est ut arcu convallis congue. Etiam non congue nibh. Nulla leo ex, molestie id vehicula ac, malesuada ac purus. Donec venenatis bibendum sollicitudin. Phasellus sodales velit sit amet feugiat varius. Vivamus cursus sollicitudin rutrum. Nullam pellentesque porta orci non ornare. Duis a congue tortor, vel rhoncus nulla.

        Aliquam vel leo feugiat, euismod nibh vitae, elementum neque. Cras nunc nisi, dignissim id varius non, laoreet vel enim. Vivamus at velit lacus. Suspendisse hendrerit sodales sapien, nec consequat nulla elementum ut. Phasellus lobortis pretium turpis, ac ullamcorper lorem aliquet in. Quisque quis sollicitudin arcu. Nam non diam sit amet ligula ullamcorper consectetur. Nullam non erat vel enim convallis tincidunt.
    </p>
