/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    height: auto;
}


.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    background-color: white;
    box-shadow: rgb(51, 51, 51) 10px 0px 40px, rgb(51, 51, 51) -10px 0px 40px;
    border-left: 1px solid rgb(153, 0, 153);
    border-right: 1px solid rgb(153, 0, 153);
    height: auto;
    margin: 0px auto;
    min-width: 320px;
    max-width: 1200px;
    width: 100%;
}

.footer {
    color: black;
    background-color: #158cba;
    font-size: 1.25em;
    font-style: normal;
    height: 30px;
    line-height: 30px;
    text-align: center;
}


/* Added by Roel*/



/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

h2 {
    font-size: 1.125em;
    color: black;
    font-weight: 600;
    margin: 0;
}

h3 {
    font-size: 1.3em;
    line-height: 1.25em;
    margin-top: .85em;
    margin-bottom: .5em;
}

p {
    font-size: 1.5em;
    line-height: 1.4;
    margin: 0 0 1.5em;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.container,
.content {
    margin: auto;
}

.container {
    width: 100%;
    max-width: 90%;
}

.color-menu {
    background: linear-gradient(to right, #158cba 30%, black);
}

.container3D {
    width: 100%;
    max-width: 200%;
}

.main-header {
    text-align: center;
    padding: 2.8em 0 3.8em;
}

.cube-container {
    max-width: 200px;
    text-align: center;
    margin: 0 auto 4.5em;
}
/* ---- Page Elements ---- */

.name {
    font-size: 1.65em;
    font-weight: 800;
    margin: 0 0 1.5em;
    line-height: 1;
}

    .name span {
        font-weight: 300;
        margin-left: -7px;
    }

.logo {
    width: 45px;
    margin-bottom: .4em;
    cursor: pointer;
}

.button {
    font-size: 1.2em;
    color: #fff;
    width: 90%;
    line-height: 1.15;
    font-weight: 700;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: .95em 0;
    border-radius: .5em;
    background: rgba(74,137,202, .8);
    margin: auto;
}
/* ---- Photo Overlay ---- */

.photo-desc {
    font-size: .85em;
    color: #fff;
    padding: 1.1em 1em 0;
    background: #345d88;
}
/* ---- Float clearfix ---- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
    .cube-container {
        float: left;
        margin-left: 16.6%;
    }
}

@media (min-width: 1025px) {
    .cube-container:first-child {
        margin-left: 0;
    }

    .cube-container:last-child {
        float: right;
    }

    .content {
        max-width: 900px;
        margin: auto;
    }
}

/* ================================= 
  Button Transitions
==================================== */

.button {
    transition: background .3s;
}

    .button:hover {
        background: rgba(74,137,202, 1);
    }

/* ================================= 
  Photo 3D Transforms & Transitions
==================================== */

.cube-container {
    box-shadow: 0 18px 40px 5px rgba(0,0,0,.4);
    perspective: 800px;
}

.photo-cube {
    transition: transform 2s ease-in-out;
    width: 220px;
    height: 200px;
    transform-style: preserve-3d;
}

    .photo-cube:hover {
        transform: rotateY(-270deg);
    }

.front,
.back,
.left,
.right {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

.front {
    transform: translate3d(0,0,110px);
}

.back {
    transform: translateZ(-110px) rotateY(270deg);
    transform-origin: center left;
}

.left {
    transform: rotateY(-270deg) translate3d(110px, 0, 0);
    transform-origin: top right;
}

.right {
    transform: translateZ(-110px) rotateY(180deg);
}

/* Newly added by Roel*/

.scroll-list {
    display: flex;
    flex-wrap: wrap;
}



/* TOOLBAR
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .toolbar .search-wrapper {
        position: relative;
    }

    .toolbar input[type="search"] {
        font-size: 1.1rem;
        border: none;
        border-bottom: 1px solid;
        padding-bottom: 3px;
    }


    .toolbar .counter {
        position: absolute;
        left: 0;
        top: calc(100% + 5px);
        font-size: 0.9rem;
        color: var(--gray);
    }

.view-options {
    display: flex;
    align-items: center;
}

    .view-options li:not(:last-child) {
        margin-right: 1.2rem;
    }

    .view-options button {
        padding: 2px;
        border: 3px solid transparent;
    }

    .view-options .active button {
        border-color: var(--darkgreen);
    }


/* IMAGE LIST
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.image-list {
    margin: 3rem 0;
}

    .image-list li {
        background: var(--lightbrown);
        color: var(--darkblack);
    }

    .image-list p:first-child {
        font-weight: bold;
        font-size: 1.15rem;
    }

    .image-list p:last-child {
        margin-top: 0.5rem;
    }


/* GRID VIEW
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.grid-view {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--minRangeValue), 1fr));
}

    .grid-view figcaption {
        padding: 1rem;
    }


/* LIST VIEW
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.list-view li + li {
    margin-top: 1.5rem;
}

.list-view figure {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 150px 1fr;
    align-items: center;
}

/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 900px) {
    .toolbar input[type="range"] {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .grid-view li {
        text-align: center;
        padding: 0.5rem;
    }

    .grid-view figcaption {
        padding: 0.5rem 0 0;
    }
}

ul#browser li a:hover {
    color: white;
    background-color: rgb(153, 0, 153);
}

a#navicon {
    display: none;
}

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
@media only screen and (max-width: 1199px) {

    a#navicon {
        display: block;
    }

    #browser {
        display: none;
    }

        #browser li {
            font-size: 1em;
            line-height: 1.3em;
            height: 1.3em;
        }

        #navicon:hover + div > ul#browser, #browser:hover {
            display: block;
        }
}

/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
@media only screen and (min-width: 1200px) {

    #browser {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-justify-content: center;
        justify-content: center;
    }

        #browser li {
            -webkit-flex: 0 1 auto;
            flex: 0 1 auto;
        }
}

header {
    background-color: #158cba;
    border-bottom: 1px solid rgb(153, 0, 153);
    color: white;
    line-height: 10px;
}

    header h2#header {
        font-family: Verdana, Geneva, sans-serif;
        color: darkorange;
        font-size: xx-large;
        text-transform: capitalize;
        margin-left: 15px;
        justify-content: center;
    }

        header h2#header em {
            font-size: 0.7em;
            color: red;
        }
